@model ISPROJ2VetSeeker.Models.UserModel

@{ ViewBag.Title = "Login"; }

@{ Layout = ""; }
<head>
    <meta charset="utf-8" />
    <title>VetSeeker - @ViewBag.Title</title>
    @Styles.Render("~/Content/Login.css")
    <link href="~/Style/Login.css" rel="stylesheet" type="text/css" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login container">
        <div class="form-horizontal">
            <div class="image col-lg-5"><img src="~/Images/VetSeekerLogo.png" alt="VetSeeker Logo" width="450px" /></div>
            <h1>LOG IN</h1>
            <div class="col-md-offset-2">

                <span style="text-align:center; color:red">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Raw(ViewBag.Error)
                </span>
                <div class="form-group">

                    <div class="control-label col-md-2">Username</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Remember Me
                    <input type="checkbox" id="ChkMe" name="CheckBox" value="true">
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
                <div class="register ">
                    Don't have an account? @Html.ActionLink("Register here", "Register", "User", null, new { @class = "reg" })
                </div>
            </div>
        </div>

    </div>
}