@model ISPROJ2VetSeeker.Models.UserModel

@{ ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml"; }

@Styles.Render("~/Content/MyProfile.css")
<link href="~/Content/MyProfile.css" rel="stylesheet" type="text/css" />

<div class="container" id="profile">
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="text-align:center">
        <img src="~/Images/@Model.ProfilePicture" alt="@Model.ProfilePicture" width="150px" height="auto" />
        <div class="col-lg-10" style="margin-top: 50px;">
            @Html.ActionLink("Update Profile", "UpdateUserProfile", "User", null, new { @class = "btn btn-primary", style = "color:white;background: #79B4B7; padding:10px;" })
        </div>
    </div>
    <div class="col-lg-8 list-group-item" id="details">

        <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
        <p style="font-size: 20px">
            <b>Username:</b> @Html.DisplayFor(model => model.UserName)
            <br />
            <b>Mobile Number:</b> @Html.DisplayFor(model => model.MobileNo)
            <br />
            <b>@Html.DisplayNameFor(model => model.Gender):</b> @Html.DisplayFor(model => model.Gender)
            <br />
            <b>@Html.DisplayNameFor(model => model.Birthday):</b> @Html.DisplayFor(model => model.Birthday)
            <br />
            <b>Address:</b> @Html.DisplayFor(model => model.UnitHouseNo) @Html.DisplayFor(model => model.Street) @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.Baranggay)
        </p>
    </div>


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}