@model IEnumerable<ISPROJ2VetSeeker.Models.InvoiceModel>
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_LayoutVet.cshtml";
}

@Styles.Render("~/Content/StyleSheetPetRegister.css")
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<style>
    th, td {
        text-align: center !important;
    }
</style>
<h2>Invoices</h2>

<table>
    <tr class="head">
        <th>
            Invoice ID
        </th>
        <th>
            Professional Fee
        </th>
        <th>
            Date
        </th>
        <th>
            Total Price
        </th>
    </tr>
    @foreach (var invoice in Model)
    {
        <tr class="body">
            <td>
                @invoice.InvoiceID-@invoice.MyAppointmentID-@invoice.MedicalHistoryID
            </td>
            <td>
                @invoice.ProfessionalFee
            </td>
            <td>
                @invoice.Date.ToString("MM/dd/yyyy hh:mm tt")
            </td>
            <td>
                @invoice.TotalPrice
            </td>
        </tr>
    }
</table>

