@model IEnumerable<ISPROJ2VetSeeker.Models.ViewScheduleUIModel>
@{
    ViewBag.Title = "ViewSchedules";
}
@using (Html.BeginForm())
{
    //render as table
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicName)
                </td>
                <td>
                    @if (item.Status == "1")
                    {
                        @Html.Raw("Pending");
                    } else if (item.Status == "2") {
                        @Html.Raw("Accepted");
                    } else
                    {
                        @Html.Raw("Available");
                    }
                </td>

                @if (item.Status == "1")
                {
                    <td>
                        @Html.ActionLink("Accept", "ManageSchedules", new { id = item.ScheduleId, status = 2 })
                        @Html.ActionLink("Decline", "ManageSchedules", new { id = item.ScheduleId, status = 0 })
                        <!--<input type="button" value="Accept" class="btn-success" />-->
                        <!--<input type="button" value="Decline" class="btn-danger" />-->
                    </td>
                } else if(item.Status == "2")
                {
                    <td>
                        @Html.ActionLink("Cancel", "ManageSchedules", new { id = item.ScheduleId, status = 0 })
                    </td>
                }
            </tr>
        }
    </table>
}