@model IEnumerable<ISPROJ2VetSeeker.Models.PetModel>


@{ ViewBag.Title = "ViewPets"; }

@Styles.Render("~/Content/ViewPets.css")
<link href="~/Content/ViewPets.css" rel="stylesheet" type="text/css" />
<div class="col-md-offset-0">
    <h1>Pets</h1>
</div>
<div class="col-md-offset-11">
    <h5>@Html.ActionLink("Add Pet", "PetRegister", new { @class = "btn btn-primary" }, new { @class = "btn btn-success" })</h5>
</div>
@foreach (var petModel in Model)
{
    <div class="col-md-offset-0 col-md-3">
        <h2></h2>
        <div class="thumbnail">
            <div class="caption">
                <h4><b>Pet Profile Picture:</b> @petModel.PetProfilePic</h4>
                <h4><b>Pet name:</b> <span style="color: dodgerblue"> @petModel.PetName</span></h4>
                <h4><b>Breed:</b> <span style="color: dodgerblue ">@petModel.Breed</span></h4>
                <h4><b>Sex:</b> <span style="color: dodgerblue ">@petModel.Sex</span></h4>
                <h4><b>Color:</b> <span style="color: dodgerblue ">@petModel.Color</span></h4>
                <h4><b>Birthday:</b> <span style="color: dodgerblue ">@petModel.Birthday</span></h4>
                <h4><b>Pet Chip Number:</b> <span style="color: dodgerblue ">@petModel.PetChipNo</span></h4>
                <h4><b>Guardian:</b> <span style="color: dodgerblue">@petModel.Guardian</span></h4>
                <h5>@Html.ActionLink("Update Profile", "UpdatePetProfile", new { petId = petModel.PetID }, new { @class = "btn btn-primary" })</h5>
                <h5>@Html.ActionLink("Medical History", "ViewMedicalHistory", new { petId = petModel.PetID }, new { @class = "btn btn-primary" })</h5>
            </div>
        </div>
    </div>}
