@model IEnumerable<ISPROJ2VetSeeker.Models.ViewMedicalHistoryModel>
@{
    ViewBag.Title = "ViewMedicalHistory";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Styles.Render("~/Content/StyleSheetPetRegister.css")
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    <h4>@Html.ActionLink("< Back", "ViewPets")</h4>
    <br />
    <br />
    @Html.AntiForgeryToken()
    <h1>Medical History</h1>
    <br />
    <table>

        <tr class="head">
            <th>
                Date
            </th>
            <th>
                Diagnosis
            </th>
            <th>
                Service Name
            </th>
            <th>
                Veterinarian
            </th>
            <th>
                Mobile Number
            </th>
            <th>
                Email
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="body">
                <td>
                    @item.Date.ToString("MM/dd/yyyy hh:mm tt")
                </td>
                <td>
                    @item.Diagnosis
                </td>
                <td>
                    @item.ServiceName
                </td>
                <td>
                    @item.LastName, @item.FirstName
                </td>
                <td>
                    @item.MobileNo
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </table>
    <br />
}