@model IEnumerable<ISPROJ2VetSeeker.Models.ServiceTypeModel>
@{
    ViewBag.Title = "ListofServices";
    Layout = "~/Views/Shared/_LayoutVet.cshtml";
}
@Styles.Render("~/Content/StyleSheetPetRegister.css")
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />

<h2>Services</h2>

<table>
    <tr class="head">
        <th>
            Service
        </th>
        <th>
            Service Description
        </th>
        <th>
            Price
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var Service in Model)
    {
        <tr class="body">
            <td>
                @Service.ServiceName
            </td>
            <td>
                @Service.ServiceDescription
            </td>
            <td>
                ₱ @Service.Price.ToString("#,##0.00")
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateService", new { id = Service.ServiceTypeID, record = Service })
                | @Html.ActionLink("Delete", "DeleteService", new { id = Service.ServiceTypeID, record = Service }, new { onclick = "return confirm('Are you sure want to delete this?');" })
            </td>
        </tr>
    }
</table>



