<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .dropdown-toggle:active, .open .dropdown-toggle, .home:hover {
            background-color: #569B9F !important;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #79B4B7; border:none;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 25px 10px">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("MyProfile", "Accounts")">
                    <img src="~/Images/Logo2.png" alt="VetSeeker Logo" width="50%" style="margin-top:6px; margin-bottom:5px" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right;">
                    <li style="font-size: 2rem; margin: 15px 2px; cursor: pointer;">@Html.ActionLink("Book Appointment", "ClinicSchedules", "MyAppointment", null, new { @class = "home", style = "color:white" })</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white; font-size: 2rem; margin: 15px 2px;">My Pets <span class="fa fa-angle-down"></span></a>

                        <ul class="dropdown-menu">
                            <li style="font-size: 2rem; margin: 15px 5px; cursor: pointer;">@Html.ActionLink("Add a Pet", "PetRegister", "Pet", null, new { style = "color:#717171" })</li>
                            <li style="font-size: 2rem; margin: 15px 5px; cursor: pointer;">@Html.ActionLink("View Pets", "ViewPets", "Pet", null, new { style = "color:#717171" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white; font-size: 2rem; margin: 15px 2px; ">My Appointments <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                            <li style="font-size: 2rem; margin: 15px 5px; cursor: pointer;">@Html.ActionLink("View Appointments", "ViewAppointments", "MyAppointment", null, new { style = "color:#717171" })</li>
                            <li style="font-size: 2rem; margin: 15px 5px; cursor: pointer;">@Html.ActionLink("Invoices", "Invoices", "Invoice", null, new { style = "color:#717171" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle fa fa-user-circle" data-toggle="dropdown" href="#" style="color: white; font-size: 3rem; margin: 15px 2px; "></a>
                        <ul class="dropdown-menu">
                            <li style="font-size: 2rem;margin: 15px 5px; cursor: pointer;">@Html.ActionLink("My Profile", "MyProfile", "Accounts", null, new { style = "color:#717171;" }) </li>
                            <li style="font-size: 2rem; margin: 15px 5px; cursor: pointer;">@Html.ActionLink("Log Out", "LogOut", "Accounts", null, new { style = "color:#717171" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />

        @RenderBody()


    </div>
    <div class="container">
        <footer style="bottom:0; height:50px;">
            <p>&copy; @DateTime.Now.Year - VetSeeker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>$(document).ready(function () {
            $(".dropdown").hover(function () {
                $(this).toggleClass("open");
            });
        })</script>
</body>

</html>
