<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #79B4B7; border: none;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin: 25px 10px">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VetSeeker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:white; margin: 15px 7px; font-size: 3rem;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right;">

                    <li style="font-size: 2rem; margin: 15px 7px; cursor: pointer;">@Html.ActionLink("View Bookings", "ViewSchedules", "Schedule", null, new { style = "color:white" })</li>
                    <li style="font-size: 2rem; margin: 15px 7px; cursor: pointer;">@Html.ActionLink("Create Service", "CreateService", "Service", null, new { style = "color:white" })</li>
                    <li style="font-size: 2rem; margin: 15px 7px; cursor: pointer;">@Html.ActionLink("Create Schedule", "CreateSchedule", "Schedule", null, new { style = "color:white" })</li>
                    <li style="font-size: 3rem;margin: 15px 7px; cursor: pointer;">@Html.ActionLink(" ", "VetProfile", "Accounts", null, new { @class = "fa fa-user-circle", style = "color:white;" }) </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />

        @RenderBody()
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - VetSeeker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
