@model ISPROJ2VetSeeker.Models.UserModel

@{ ViewBag.Title = "ResetEmail"; }

@*@{ Layout = ""; }*@
<head>
    <meta charset="utf-8" />
    <title>VetSeeker - @ViewBag.Title</title>
    @Styles.Render("~/Content/Table.css")
    <link href="~/Style/Login.css" rel="stylesheet" type="text/css" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login container">
        <div class="form-horizontal">
            <div class="col-md-offset-2">
                <div class="form-group" style="visibility:hidden">
                    @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group">
                <h2>Click the button to verify your email</h2>
                <input type="submit" value="Verify" class="btn btn-default" />
            </div>
        </div>

    </div>}