@model IEnumerable<ISPROJ2VetSeeker.Models.ClinicModel>


@{
    ViewBag.Title = "ViewClinics";
    Layout = "~/Views/Shared/_LayoutVet.cshtml";
}

@Styles.Render("~/Content/StyleSheetPetRegister.css")
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<h2 style="margin-bottom:30px">My Clinics</h2>
<h5 style="padding-bottom:30px">@Html.ActionLink("Add Clinic", "RegisterClinic", null, new { @class = "btn btn-primary", style = "float:right; width:150px; padding:5px 10px;" })</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr class="head">
            <th width="20%">
                Clinic
            </th>
            <th width="10%">
                Unit/House #
            </th>
            <th width="25%">
                Street
            </th>
            <th width="15%">
                Barangay
            </th>
            <th>
                City
            </th>
            <th>

            </th>
        </tr>
        @foreach (var ClinicModel in Model)
        {
            <tr class="body">
                <td>
                    @ClinicModel.ClinicName
                </td>
                <td>
                    @ClinicModel.UnitHouseNo
                </td>
                <td>
                    @ClinicModel.Street
                </td>
                <td>
                    @ClinicModel.Baranggay
                </td>
                <td>
                    @ClinicModel.City
                </td>
                <td>
                    @Html.ActionLink("Update Clinic", "UpdateClinic", new { clinicId = ClinicModel.ClinicID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}