@model ISPROJ2VetSeeker.Models.ClientViewScheduleModel


@{
    ViewBag.Title = "ClinicSchedules";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@Styles.Render("~/Content/Table.css")
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var item in Model.ClinicScheduleUIModels)
    {
        if (item.ScheduleModels.Count > 0)
        {
            <h4><b>@item.ClinicName</b></h4>
            <table>

                <tr class="head">
                    <th>
                        Date and Time
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Select Pet
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var schedule in item.ScheduleModels)
                {
                    <tr class="body">
                        <td>
                            @schedule.Date.ToString("MM/dd/yyyy hh:mm tt")
                        </td>
                        <td>
                            @schedule.Status
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.SelectedPetId,
                                 new SelectList(item.PetModels, "PetID", "PetName"),
                                 "Select Pet For Appointment", new { @class = "form-control" })
                            @Html.HiddenFor(model => model.SelectedScheduleID, new { id = "SelectedScheduleID", Value = schedule.ScheduleID })
                        </td>
                        <td>

                            <input type="submit" value="Book" class="btn btn-default" />
                        </td>
                    </tr>
                }
            </table>
            <br />
        }

    }
}