@model ISPROJ2VetSeeker.Models.ClientViewScheduleModel
@{
    ViewBag.Title = "ClinicSchedules";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@Styles.Render("~/Content/Table.css")
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var item in Model.ClinicScheduleUIModels)
    {
        if (item.ScheduleModels.Count > 0)
        {
            <h3 style="color:black!important"><b>@item.ClinicName</b></h3>
            <table>

                <tr class="head">
                    <th width="20%">
                        Date and Time
                    </th>
                    <th width="20%">
                        Select Pet
                    </th>
                    <th width="30%">
                        Specific Problem
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var schedule in item.ScheduleModels)
                {
                    <tr class="body">
                        <td>
                            @schedule.Date.ToString("MM/dd/yyyy hh:mm tt")
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.SelectedPetId,
                                 new SelectList(item.PetModels, "PetID", "PetName"),
                                 "Select Pet For Appointment", new { @class = "form-control", required = "required" })
                            @Html.HiddenFor(model => model.SelectedScheduleID, new { id = "SelectedScheduleID", Value = schedule.ScheduleID })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.SpecificProblem, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.SpecificProblem, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.ActionLink("View Details", "ViewVetDetails", new { id = item.ClinicID, ScheduleID = schedule.ScheduleID })
                        </td>
                        <td style="padding-right:30px;">
                            <input type="submit" value="Book" class="btn btn-default" />
                        </td>
                    </tr>
                }
            </table>
            <br />
        }

    }
}