@model ISPROJ2VetSeeker.Models.ClientViewScheduleModel
@{
    ViewBag.Title = "ClinicSchedules";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@Styles.Render("~/Content/ClinicView.css")
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("ClinicSchedules", "MyAppointment", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <h4>@Html.ActionLink("Search a service", "ListofAllServices", "MyAppointment", null, new { @class = "btsn btn-primary" })</h4>

    <p>
        <label for="searchCity">Choose a City:</label>

        <select name="searchCity">
            <option value="Makati">Makati</option>
            <option value="Manila">Manila</option>
            <option value="Quezon City">Quezon City</option>
            <option value="Pasay">Pasay</option>
            <option value="Pasig">Pasig</option>
            <option value="Taguig">Taguig</option>
            <option value="Navotas">Navotas</option>
            <option value="Muntinlupa">Muntinlupa</option>
            <option value="Mandaluyong">Mandaluyong</option>
            <option value="Valenzuela">Valenzuela</option>
            <option value="Malabon">Malabon</option>
            <option value="San Juan">San Juan</option>
            <option value="Marikina">Marikina</option>
            <option value="Pateros">Pateros</option>
            <option value="Paranaque">Paranaque</option>
            <option value="Bonifacio Global City">Bonifacio Global City</option>
        </select>
        <input type="submit" value="Search" name="submit" />
    </p>

    foreach (var item in Model.ClinicScheduleUIModels)
    {
        if (item.ScheduleModels.Count > 0)
        {
            foreach (var schedule in item.ScheduleModels)
            {
                <div class="col-md-offset-0 col-md-3">
                    <h2></h2>
                    <div class="thumbnail">
                        <div class="caption">
                            <h4><b>@item.ClinicName</b></h4>
                            <h4>Date and Time:<span> @schedule.Date.ToString("MM/dd/yyyy hh:mm tt") </span></h4>
                            <h4>@Html.ActionLink("View Details", "ViewVetDetails", new { id = item.ClinicID, ScheduleID = schedule.ScheduleID }, new { @class = "btn btn-primary" })</h4>
                            <h4>@Html.ActionLink("Book", "BookAppointment", new { selectedScheduleId = schedule.ScheduleID }, new { @class = "btn btn-primary" })</h4>
                            <h4>
                                <b>Status:</b> <span>
                                    @if (schedule.Status == "1")
                                    {
                                        <span style="background-color: #Ff314e; color: black ">@Html.Raw("Pending")</span>;
                                    }
                                    else if (schedule.Status == "2")
                                    {
                                        <span style="background-color: #52a81a; color: black">@Html.Raw("Accepted")</span>;
                                    }
                                    else if (schedule.Status == "0")
                                    {
                                        <span style="background-color: #C5e423; color: black">@Html.Raw("Available")</span>;
                                    }
                                    else if (schedule.Status == "3")
                                    {
                                        <span style="background-color: #2bf300; color: black ">@Html.Raw("Completed")</span>;
                                    }
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        }
    }
}