@model ISPROJ2VetSeeker.Models.ViewVetDetailsModel
@{
    ViewBag.Title = "ViewVetDetails";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/567441b5cd.js" crossorigin="anonymous"></script>

<style>


    #map {
        height: 600% !important;
        width: 85% !important;
        margin-left: 10px;
        position: absolute !important;
    }

    #details {
        height: 50%;
        padding: 50px 80px;
        border-radius: 100px;
        border: 10px solid #79B4B7;
        background-color: white;
        margin-bottom: 100px;
    }

    #clinic {
        height: 50rem;
        padding-top: 30px;
        padding-left: 50px;
    }
</style>
<script>
    var latitude = @Html.Raw(Json.Encode(Model.ClinicModel.Latitude));
    var longitude = @Html.Raw(Json.Encode(Model.ClinicModel.Longitude));

    window.onload = function () {
        this.initMap(parseFloat(latitude).toFixed(14), parseFloat(longitude).toFixed(14));
    };

    var map;
    var marker;

    function initMap(latitude, longitude) {
        var point = new google.maps.LatLng(latitude, longitude);
        map = new google.maps.Map(document.getElementById("map"), {
            center: point,
            zoom: 12,
            panControl: false,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        marker = new google.maps.Marker({
            map: map,
            position: point
        });
        //google.maps.event.addListener(marker, 'dragend', function () {
            //map.setCenter(marker.getPosition());
            //document.getElementById("Latitude").value = marker.getPosition().lat();
            //document.getElementById("Longitude").value = marker.getPosition().lng();
        //})
        google.maps.event.trigger(map, "resize");


    }
</script>
@using (Html.BeginForm())
{
    <h4>@Html.ActionLink("< Back", "ClinicSchedules")</h4>
    <br />
    <br />
    <div class="container" id="details">
        <div class="col-lg-6" id="clinic">
            <h2><b>Clinic: @Html.DisplayFor(model => model.ClinicModel.ClinicName)</b></h2>
            <br />
            <h4><b>Veterinarian:</b> @Html.DisplayFor(model => model.UserModel.FirstName) @Html.DisplayFor(model => model.UserModel.LastName)</h4>
            <br />
            <h4><span class="fa fa-envelope"></span> @Html.DisplayFor(model => model.UserModel.Email) </h4>
            <br />
            <h4><span class="fa fa-phone"></span> @Html.DisplayFor(model => model.UserModel.MobileNo)</h4>
            <br />
            <h4><span class="fa fa-location-dot"> </span> @Html.DisplayFor(model => model.ClinicModel.UnitHouseNo) @Html.DisplayFor(model => model.ClinicModel.Street), @Html.DisplayFor(model => model.ClinicModel.Baranggay), @Html.DisplayFor(model => model.ClinicModel.City)</h4>
            <br />

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <h4 style="text-align:center">Clinic Location</h4>
                <div id="map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdKWIdIY9R5PNi_RYI3NU5TcF4KR4eLOE&callback=initMap&v=weekly&channel=2" async></script>
            </div>
        </div>
        <div class="row">
            <table>
                <tr class="head">
                    <th>
                        Services Offered
                    </th>
                    <th>
                        Price
                    </th>
                </tr>

                @foreach (var item in Model.ServiceTypeModels)
                {
                    <tr class="body">
                        <td>
                            @item.ServiceName
                        </td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>



}