@model IEnumerable<ISPROJ2VetSeeker.Models.ViewAppointmentsModel>


@{
    ViewBag.Title = "ClinicSchedules";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var item in Model)
    {
        
            <h4><b>@item.ClinicName</b></h4>
            <table class="table">

                <tr>
                    <th>
                        Date and Time
                    </th>
                    <th>
                        Veterinarian
                    </th>
                    <th>
                        Pet Name
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.LastName, @item.FirstName
                    </td>
                    <td>
                        @item.PetName
                    </td>
                    <td>
                        @if (item.Status == "1")
                        {
                            @Html.Raw("Pending");
                        }
                        else if (item.Status == "2")
                        {
                            @Html.Raw("Accepted");
                        }
                        else if (item.Status == "0")
                        {
                            @Html.Raw("Available");
                        }
                        else if (item.Status == "3")
                        {
                            @Html.Raw("Completed");
                        }
                    </td>
                    
                </tr>

            </table>
            <br />
        

    }
}