@model ISPROJ2VetSeeker.Models.ViewVetDetailsModel
@{
    ViewBag.Title = "ViewVetDetails";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<style>

    #map {
        height: 200% !important;
        width: 85% !important;
        margin-left: 55px;
        position: absolute !important;
    }
</style>
<script>
    var latitude = @Html.Raw(Json.Encode(Model.ClinicModel.Latitude));
    var longitude = @Html.Raw(Json.Encode(Model.ClinicModel.Longitude));

    window.onload = function () {
        this.initMap(parseFloat(latitude).toFixed(14), parseFloat(longitude).toFixed(14));
    };
    
    var map;
    var marker;

    function initMap(latitude, longitude) {
        var point = new google.maps.LatLng(latitude, longitude);
        map = new google.maps.Map(document.getElementById("map"), {
            center: point,
            zoom: 12,
            panControl: false,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        marker = new google.maps.Marker({
            map: map,
            position: point,
            draggable: true
        });
        //google.maps.event.addListener(marker, 'dragend', function () {
            //map.setCenter(marker.getPosition());
            //document.getElementById("Latitude").value = marker.getPosition().lat();
            //document.getElementById("Longitude").value = marker.getPosition().lng();
        //})
        google.maps.event.trigger(map, "resize");


    }
</script>
@using (Html.BeginForm())
{

    <table>
        <tr class="head">
            <th>
                Veterinarian
            </th>
            <th>
                Contact Details
            </th>
            <th>
                Clinic Name
            </th>
            <th>
                Clinic Address
            </th>
        </tr>

        <tr class="body">
            <td>
                @Html.DisplayFor(model => model.UserModel.FirstName) @Html.DisplayFor(model => model.UserModel.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserModel.Email) @Html.DisplayFor(model => model.UserModel.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.ClinicModel.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ClinicModel.UnitHouseNo) @Html.DisplayFor(model => model.ClinicModel.Street), @Html.DisplayFor(model => model.ClinicModel.Baranggay), @Html.DisplayFor(model => model.ClinicModel.City)
            </td>
        </tr>

    </table>
    <div>
        MAP
        <div class="form-group">
            <div>Clinic Location</div>
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdKWIdIY9R5PNi_RYI3NU5TcF4KR4eLOE&callback=initMap&v=weekly&channel=2" async></script>
        </div>
    </div>
    <table>
        <tr class="head">
            <th>
                Services Offered
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model.ServiceTypeModels)
        {
            <tr class="body">
                <td>
                    @item.ServiceName
                </td>
                <td>
                    @item.Price
                </td>
            </tr>

        }
    </table>

}