@model IEnumerable<ISPROJ2VetSeeker.Models.ViewAppointmentsModel>


@{
    ViewBag.Title = "ViewAppointments";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Styles.Render("~/Content/StyleSheetPetRegister.css")
@Styles.Render("~/Content/Table.css")
<link href="~/Content/StyleSheetPetRegister.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
<h2 style="margin-bottom:30px">View Appointments</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var item in Model)
    {

        <h4><b>@item.ClinicName</b></h4>
        <table>

            <tr class="head">
                <th>
                    Date and Time
                </th>
                <th>
                    Veterinarian
                </th>
                <th>
                    Pet Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
            <tr class="body">
                <td>
                    @item.Date
                </td>
                <td>
                    @item.LastName, @item.FirstName
                </td>
                <td>
                    @item.PetName
                </td>
                <td>
                    @if (item.Status == "1")
                    {
                        @Html.Raw("Pending");
                    }
                    else if (item.Status == "2")
                    {
                        @Html.Raw("Accepted");
                    }
                    else if (item.Status == "0")
                    {
                        @Html.Raw("Available");
                    }
                    else if (item.Status == "3")
                    {
                        @Html.Raw("Completed");
                    }
                </td>
                <td>
                    @Html.ActionLink("Feedback", "CreateFeedback", "MyAppointment", new { id = item.MyAppointmentID }, null)
                </td>
            </tr>

        </table>
        <br />


    }
}